@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header{
    background-color: #0E0E0E;
    color: white;
    font-size: 20px;
    font-family: pacifico, 'Courier New', Courier, monospace;
}

.logo{
    width: 70px;
    height: 70px;
}

.containerLi{
    display: flex;
    justify-content:flex-end;
    gap: 30px;
    /* background: blue; */
    width: 100%;
    list-style-type: none;
}

a{
transition: all 0.3s;
text-decoration: none;
}

a:visited{
color:white;
}

a:hover{
background: rgb(59, 65, 63);
}

.containerMain{
    display: flex;
}

section{
    background-color: aquamarine;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #F7A7A7;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-family: pacifico, 'Courier New', Courier, monospace;
}