@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red 2px; */
}

:root{
    --color1: #001219;
    --color2: #fb8500;
    --color3: #e9d8a6;
    --font: 'Barlow Condensed', sans-serif;
}

a{
    transition: all 0.3s;
    text-decoration: none;
}

i{
    font-size: 50px;
}

/*? Navbar */
header{
    background-color: var(--color1);
    color: white;
    font-size: 20px;
    font-family: var(--font);
}

.containerNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
}

.logo{
    width: 60px;
    height: 60px;
}

.logo:hover{
    width: 62px;
    height: 62px;
}

.containerLi{
    display: flex;
    justify-content:flex-end;
    gap: 30px;
    width: 100%;
    list-style-type: none;
}

li a:visited{
color:white;
}

li a:hover{
background: var(--color2);
border-radius: 2px;
}

/*? Hero */
.containerHero{
    background-color: var(--color1);
    width: 100%;
    height: 700px;
    margin-top: 0.4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.principal, .aboutMe, .works, .technologies{
    align-self: flex-start;
    margin-top: 100px;
    padding: 30px;
    width: 70%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--color2);
}

.tittle{
    margin-top: 60px;
    font-size: 120px;
    color: white;
}

.by{
    margin-top: 60px;
    color: white;
}

.programmingImage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.codeImage{
    width: 80%;
    height: 80%;
}

/*? Section About Me */
.aboutMe{
    background-color: white;
    width: 100%;
    height: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paragraphAbout, .learnMore, .viewAll, .paragraphTechnologies{
    margin-top: 60px;
    color: var(--color1);
}

.paragraphAbout{
    font-size: 30px;
}

/*? Section Technologies */
.technologies{
    background-color: var(--color3);
    width: 100%;
    height: 370px;
    margin-top: 0.4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color1);
}

.tittleSection{
    margin-top: 60px;
}

.paragraphTechnologies{
    margin-top: 40px;
    font-size: 20px;
}

.tec{
    margin-top: 40px;
    width: 94vmax;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*? Section Works */
.works{
    background-color: var(--color2);
    width: 100%;
    height: 460px;
    margin-top: 0.4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color1);
}

.proyects{
    /* background-color: rgb(255, 81, 0); */
    margin-top: 60px;
    width: 94vmax;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proyects div{
    background-color: #0012194d;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.proyect1, .proyect2 , .proyect3, .icon{
    text-align: center;
    flex-direction: column;
    gap: 10px;
    /* background-image: url("https://cdn.dribbble.com/users/5363196/screenshots/11560100/media/6ce602fb2f4e5256dd14905fe5a64efd.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 2s; */
}

.proyect1:hover, .proyect2:hover, .proyect3:hover{
    background: var(--color1);
}

.proyects a h2{
    font-size: 25px;
}

.proyects a{
    color: white;
}

.proyects a:visited{ 
    color: white;
}

/*? Footer */
footer{
    background-color: var(--color1);
    text-align: center;
    padding: 20px;
    margin-top: 0.4px;
    font-family: var(--font);
    color: gray;
}